# Ignore PDF files
*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/



# Logs and outputs
*.log

# Environment variables
.env

# Python egg metadata
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# Cache
.cache/
